<footer>
	<div class="content-footer">
		<div class="linkedin">
			<a href="index.php?ctl=linked_in"><img src="imagenes/linkedin-50.png"  alt="linkedin"></a>
		</div>
		<div class="titulo-footer">Ultimas Notícias</div>
		<ul>
			<li>
				<a href="http://bancoalimentario.org.ar/recetas-divertidas/" title="RECETAS DIVERTIDAS!!!">RECETAS DIVERTIDAS!!!</a>
			</li>
			<li>
				<a href="http://bancoalimentario.org.ar/kiwiniada-2014-2/" title="RESULTADOS KIWINIADA 2014">RESULTADOS KIWINIADA 2014</a>
			</li>
			<li>
				<a href="http://bancoalimentario.org.ar/kiwiniada-edicion-2014/" title="KIWINIADA: EDICIÓN 2014">KIWINIADA: EDICIÓN 2014</a>
			</li>
			<li>
				<a href="http://bancoalimentario.org.ar/dia-del-nino-2/" title="DÍA DEL NIÑO">DÍA DEL NIÑO</a>
			</li>
			<li>
				<a href="http://bancoalimentario.org.ar/prueba-piloto/" title="PRUEBA PILOTO">PRUEBA PILOTO</a>
			</li>
		</ul>

		
		
	</div>
</footer>