<nav class="menubackend">
	<ul>
		<li id="inicio"><span><a href="backend.php">INICIO</a></span></li>
		<li id="abms"><span><a href=#>ABMS</a></span></li>
		<li id="pedidos"><span><a href=#>PEDIDOS</a></span></li>
		<li id="donacion"><span><a href="backend.php?ctl=listar_donaciones">DONACIONES</a></span></li>
		<li id="listado"><span><a href=#>LISTADOS</a></span></li>
	</ul>
</nav>
<nav class="submenubackend abm" id="submenubackend_abm">
	<ul>
		<li><span><a href="backend.php?ctl=listar_detalle_alimentos" >ALIMENTOS</a></span></li>
		<li><span><a href="backend.php?ctl=listar_donantes">DONANTES</a></span></li>
		<li><span><a href="backend.php?ctl=listar_entidades">ENTIDADES</a></span></li>
		<li><span><a href=#>SERVICIOS</a></span></li>
		<li><span><a href="backend.php?ctl=listar_usuarios">USUARIOS</a></span></li>
	</ul>
</nav>
<nav class="submenubackend pedidos" id="submenubackend_pedido">
	<ul>
		<li><span><a href="backend.php?ctl=listar_pedidos" >ARMADO</a></span></li>
		<li><span><a href="backend.php?ctl=listar_directos">ENTREGA DIRECTA</a></span></li>
	</ul>
</nav>
<nav class="submenubackend listado">
	<ul>
		<li><span><a href="backend.php?ctl=ver_stock_alimentos">STOCK</a></span></li>
		<li><span><a href="backend.php?ctl=ver_donantes">DONANTES</a></span></li>
		<li><span><a href="backend.php?ctl=ver_entidades">ENTIDADES</a></span></li>
		<li><span><a href="backend.php?ctl=ver_envios">ENVIOS</a></span></li>
		<li><span><a href="backend.php?ctl=graficos">PDF</a></span></li>
	</ul>
</nav>