<div id="alimentosVencidos">
    <table class="tablaAlimentosVencidos">
        <thead>
           <tr class="encabezado">
                <th class="th_alimento">Entidad</th>
                <th class="th_cantidad">Estado</th>
                <th class="th_cantidad">Kilos</th>
           </tr>
        </thead>
        <tbody>
            {% for alimento in alimentos %}
                <tr>
                    <td class="td_alimento">{{alimento.razon_social}}</td>
                    <td class="td_cantidad">{{alimento.descripcion}}</td>
                    <td class="td_cantidad">{{alimento.total}}</td>
                </tr>
            {% endfor%} 
        </tbody>
    </table>
</div>

<div id="conteiner"></div>

<script>graficoTorta()</script>

<input id="alimentosEntregadosPDF" type="button" value="Exportar a PDF">

