<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="es"> 
{% include 'const/head.twig.html' %}
<body> 
    <div class="tope">

        <header>
            <img src="imagenes/logo_web3.jpg" alt="logo Banco Alimentario La Plata">
        </header>

    </div>

    <div class="conteiner">
        
        <div class="content">

            {% include 'const/log_usuario.twig.html' %}
            <div class="clear"></div>
            {% include 'const/menu_backend.twig.html' %}
            {% include 'const/mensaje.twig.html' %}

            <!--    <li id="abms"><span class="color_active"><a href=#>ABMS</a></span></li>
            
                <li><span><a href="abm_pedidos.php?action=listAdmin" class="color_active">pedidoS</a></span></li> -->
            
            <section >
                
                <input class="btnAgregarpedido" type="submit" onclick="location.href='backend.php?ctl=alta_directo'"  value="Agregar Entrega" >
                <form name="alta_pedido" method="post" accept-charset="utf-8">
                        <div class="busqueda">
                            <label>Buscar</label>
                            <input class="buscar" type="search" id="descripcion" name="descripcion" >   
                        </div>
                </form>

                <div class="clear"></div>
                <table class="tablaAbmListadoPedidos">
                    <caption><h1>Formulario de entregas directas</h1></caption>
                    <thead>
                        <tr class="encabezado">                      
                            <th class="th_entidad">Entidad</th>
                            <th class="th_numero">Numero</th>
                            <th class="th_fecha">Entrega</th>   
                        </tr>
                    </thead>
                    <tbody>

                        {% for directo in directos %}
                            <tr>
                                <td class="td_entidad">{{directo.razon_social}}</td>
                                <td class="td_numero">{{directo.id}}</td>
                                <td class="td_numero">{{directo.fecha}}</td>
                            </tr>
                        {% endfor%}
                        
                    </tbody>
                </table>    
            </section>
            
        </div>

    </div>
    <div class="clear"></div>
    {% include 'const/footer_backend.twig.html' %}
</body> 
</html> 