<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="es"> 
    {% include 'const/head.twig.html' %}
<body> 
    <div class="tope">

        <header>
            <img src="imagenes/logo_web3.jpg" alt="logo Banco Alimentario La Plata">
        </header>

    </div>

    <div class="conteiner">
        
        <div class="content">

            {% include 'const/log_usuario.twig.html' %}
            <div class="clear"></div>
            {% include 'const/menu_backend.twig.html' %}
    
                    <!-- <li id="abms"><span class="color_active"><a href=#>ABMS</a></span></li>
                    <li><span><a href="abm_alimentos.php?action=listAdmin" class="color_active">ALIMENTOS</a></span></li> -->

            <div class="formularioAltaPedido">
                <h1>Formulario de Entrega Directa</h1>
                
                <form class="altaPedido" name="altaPedido" action="backend.php?ctl={{accion}}" method="POST" accept-charset="utf-8">
                    <input type="text" id="id" name="id" value="{{directa.id}}" hidden>
                    <fieldset>
                        <legend>{{titulo}}</legend> 
                        <ul>  
                            <li><label for="entidad">Entidad Receptora:</label>  
                               <select id="entidad" name="entidad" required>
                                   {% for entidad in entidades %}
                                        {% if entidad.id==directa.entidad_receptora_id %}
                                            <option value="{{entidad.id}}" selected>{{entidad.razon_social}}</option>
                                        {% else %}
                                            <option value="{{entidad.id}}">{{entidad.razon_social}}</option>
                                        {% endif %}
                                   {% endfor %}
                               </select></li>       
                        </ul> 
                    </fieldset>
                       <div class="clear"></div>
                        <table id="tablaAlimentosDonados">
                          <thead>
                             <tr class="encabezado">
                                <th class="th_contenido">Contenido</th>  
                                <th class="th_alimento">Alimento</th>
                                <th class="th_vencimiento">Vencimiento</th>
                                <th class="th_maximo">Máximo</th>
                                <th class="th_Cantidad">Cantidad</th>
                             </tr>
                            </thead>
                            <tbody id="detalle_donado">
                                {% for alimento in alertaXvencer %}  
                                    <tr>
                                      <td class="contenido"><input class="id_contenido" type="number" value="{{alimento.id}}" hidden>{{alimento.contenido}}</td>
                                      <td>{{alimento.alimento}}</td>
                                      <td class="vencimiento">{{alimento.vencimiento}}</td>
                                      <td>{{alimento.cantidad}}</td>
                                      <td><input class="cant" type="number"></td> 
                                    </tr> 
                                {% endfor %} 
                            </tbody>
                        </table>                                        

                      <li><input id="addDetallePedido" class="btnAgregarAlimento" type="button" value="Agregar alimento"></li>
                        <div class="clear"></div>   

                        <table id="tablaDetalle">
                            <thead>
                               <tr class="encabezado">
                                  <th class="th_contenido">Contenido</th>  
                                  <th class="th_alimento">Alimento</th>
                                  <th class="th_Cantidad">Cantidad</th>
                                  <th class="vencimiento">Vencimiento</th>
                                  <th class="th_botones">Operaciones</th>
                               </tr>
                            </thead>
                            <tbody>
                              <!--CARGO LOS ITEMS SELECCIONADOS-->
                              {% for detalle in detalles %}

                                <tr id="cant">                
                                    <td><input id="det_id" type="hidden" name="detalle[cant][id_detalle]" value="{{detalle.donacion_detalle_alimento_id}}">{{detalle.contenido}}</td>
                                    <td>{{detalle.descripcion}}</td>
                                    <td><input id="cant" type="hidden" name="detalle[cant][cantidad]" value="{{detalle.cantidad}}">{{detalle.cantidad}}</td>
                                    <td>{{detalle.vencimiento}}</td>
                                    <td><a class="eliminar"><img src="imagenes/eliminar.png" alt="eliminar" title="Eliminar"></a></td>
                                </tr>

                              {% endfor %}
                          </tbody>
                      </table>

                    <li><input class="btnAltaAlimento" type="submit" value="Guardar"></li>  
                </form>

            </div>  

        </div>

    </div>
    <div class="clear"></div>
    {% include 'const/footer_backend.twig.html' %}
</body> 
</html> 
