<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="es"> 
{% include 'const/head.twig.html' %}
<body> 
	<div class="tope">

		<header>
			<img src="imagenes/logo_web3.jpg" alt="logo Banco Alimentario La Plata">
			<nav class="menu">
				<ul>
					<li><a href="index.php">INICIO</a></li>
					<li><a href="index.php?ctl=linked_in">NOSOTROS</a></li>
					<li><a>VOLUNTARIADO</a></li>
					<li><a href="index.php?ctl=resumen_entidades" class="color_active">AYUDAMOS A</a></li>
					<li><a href="index.php?ctl=resumen_donantes">DONANTES</a></li>
					<li><a>COLABORADORES</a></li>
					<li><a>CONTACTO</a></li>
				</ul>
			</nav>
		</header>

	</div>

	<div class="conteiner">
		
		<div class="content">
			<div class="usuario"></div>	
			<div class="clear"></div>
			<!--{% include 'const/menu_backend.twig.html' %}-->
			
			<!--	<li id="abms"><span class="color_active"><a href=#>ABMS</a></span></li>
			
				<li><span><a href="abm_entidades.php?action=listAdmin" class="color_active">ENTIDADES</a></span></li> -->
				
			<section >					
				<div class="clear"></div>
				<table class="tabla">
					<caption><h1>Nuestras Entidades</h1></caption>
						<thead>
						   <tr class="encabezado">
							<th class="th_razon_social">Razon Social</th>
							<th class="th_telefono">Telefono</th>
							<th class="th_domicilio">Domicilio</th>
						   </tr>
						</thead>
						<tbody>
							{% for entidad in entidades %}
								<tr>
									<td class="td_razon_social">{{entidad.razon_social}}</td>
									<td class="td_telefono">{{entidad.telefono}}</td>
									<td class="td_domicilio">{{entidad.domicilio}}</td>
								</tr>
							{% endfor%}	
						</tbody>

				</table>
			<input class="btnAgregarAlimento" type="submit" onclick="location.href='index.php'"  value="Volver" >		
			</section>

		</div>

	</div>
	<div class="clear"></div>
	{% include 'const/footer_backend.twig.html' %}
</body> 
</html> 
